SECRET_KEY=change-me

DEBUG=True

ENVIRON=local

ALLOWED_HOSTS=localhost,127.0.0.1

TRUSTED_ORIGINS=http://localhost:3000

BOT_TOKEN=123456:change-me

DB_NAME=hikvision
DB_USER=hikvision
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_CONN_MAX_AGE=300
DB_SSLMODE=disable

REDIS_CACHE_URL=redis://127.0.0.1:6379/1
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=
CELERY_TASK_SOFT_TIME_LIMIT=600
CELERY_TASK_TIME_LIMIT=660

LOG_LEVEL=INFO
LOG_FILE=
