env/
venv/
.venv/

.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.pytest_cache/

*.pyc
__pycache__/

*.sqlite3

staticfiles/

media/
static_collected/

.env
settings_local.py

*.log

.DS_Store
.idea/
.vscode/
Thumbs.db
