# Virtual environment
env/
venv/

# Compiled Python files
*.pyc
__pycache__/

# Database
*.sqlite3

staticfiles/

# Media and Static files
media/
static_collected/ # If you collect static files here

# Environment variables and sensitive data
.env
settings_local.py # Or any other file containing local/sensitive settings

# Log files
*.log

# IDE/OS specific files
.DS_Store
.idea/
.vscode/
Thumbs.db

# ---- Django local-only migrations (DO NOT PUSH) ----
**/migrations/0*.py
**/migrations/1*.py
**/migrations/2*.py
**/migrations/3*.py
**/migrations/4*.py
**/migrations/5*.py
**/migrations/6*.py
**/migrations/7*.py
**/migrations/8*.py
**/migrations/9*.py

# keep __init__.py
!**/migrations/__init__.py
